%h1 StaticMatic!
%p This is some kind of a test. 
%ul
  %li= link "Get the token" 
  %li= link "Download" 

%p
  :redcloth
    This is some kind of a **bold** text.

    And this is something _else_.

%hr
